@model SFA.DAS.LevyTransferMatching.Web.Models.Applications.AcceptedViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator LinkGenerator

@{
    ViewData["Title"] = "You have successfully accepted a transfer";
    ViewBag.GaData.Vpv = "/accounts/applications/accepted";
    ViewBag.ZenDeskLabel = "LTM-R-application-accepted";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel--confirmation application-complete govuk-!-margin-bottom-9">
                    <h1 class="govuk-panel__title">You have successfully accepted a transfer</h1>
                    <div class="govuk-panel__body">
                        @Model.EmployerName<br/>(@Model.PledgeReference)
                    </div>
                </div>

                <h2 class="govuk-heading-m ">What happens next</h2>

                <p>You can now <a href="@Url.Action("Application", "Applications", new {encodedAccountId = Model.EncodedAccountId, encodedApplicationId = Model.EncodedApplicationId})" class="govuk-link">add apprentices</a> to use this transfer funding.</p>

                <p>You must use this funding and add apprentice details within 3 months. After 3 months the transfer funds will no longer be available to you.</p>
                
                <p><b>@Model.EmployerName</b> will need to review and approve apprentice details after you’ve added them. </p>

                <p>
                    <a href="@Url.Action("Applications", "Applications", new {encodedAccountId = Model.EncodedAccountId})" class="govuk-link">View my applications</a>
                </p>

            </div>
        </div>

    </div>
</main>