@using SFA.DAS.EmployerUrlHelper
@using SFA.DAS.LevyTransferMatching.Domain.Extensions
@inject ILinkGenerator LinkGenerator
@model SFA.DAS.LevyTransferMatching.Web.Models.Applications.GetApplicationsViewModel

@{
    ViewData["Title"] = "My applications";
    ViewBag.GaData.Vpv = "/accounts/applications";
    ViewBag.ZenDeskLabel = "LTM-R-applications";

    var breadCrumbs = new List<Tuple<string, string>>
    {
        new(LinkGenerator.AccountsLink($"accounts/{Model.EncodedAccountId}/teams"), "Home"),
        new(LinkGenerator.FinanceLink($"accounts/{Model.EncodedAccountId}/transfers"), "Manage Transfers"),
        new("", "My applications")
    };
}

<bread-crumb source="@breadCrumbs"></bread-crumb>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    My applications
                </h1>

                <p>To make use of transfer opportunities you will need to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        accept funds within 6 weeks of approval
                    </li>
                    <li>
                        add apprentice details within 3 months of accepting funds
                    </li>
                </ul>
                <p>Otherwise the transfer opportunity will no longer be available.</p>

                <br/>
                <div class="govuk-body-l"><b>@Model.Applications.Count() @Model.ApplicationCountPostFix</b></div>
                <table class="govuk-table govuk-!-margin-bottom-9" aria-label="Transfer applications table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header app-custom-class">Opportunity</th>
                            <th scope="col" class="govuk-table__header">Estimated total<br />cost</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                        </tr>
                    </thead>
                    @if (Model.Applications.Any())
                    {
                        <tbody class="govuk-table__body">
                        @foreach (var application in Model.Applications)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @if (Model.RenderViewApplicationDetailsHyperlink)
                                    {
                                        <a href="@Url.Action("Application", "Applications", new { encodedApplicationId = application.EncodedApplicationId, encodedAccountId = Model.EncodedAccountId })"
                                           class="govuk-link govuk-link--no-visited-state">@application.DasAccountName (@application.PledgeReference)</a>
                                        <br/>
                                    }
                                    else
                                    {
                                        @application.DasAccountName
                                        <text> (@application.PledgeReference)</text>
                                    }

                                    <span
                                        class="govuk-caption-m">Date: @application.CreatedOn.ToString("dd/MM/yyyy")</span>
                                </td>
                                <td class="govuk-table__cell">@application.EstimatedTotalCost</td>
                                <td class="govuk-table__cell"><span
                                        class=" @application.Status.GetCssClassForReceiver()">@application.Status.GetLabelForReceiver()</span>
                                </td>
                            </tr>
                        }
                        </tbody>
                    }
                    else
                    {
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" data-table-row="one">
                            <td colspan="3" class="govuk-table__cell">No applications submitted yet</td>
                        </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</main>