@using SFA.DAS.LevyTransferMatching.Domain.Extensions

@model SFA.DAS.LevyTransferMatching.Web.Models.Applications.ApplicationStatusViewModel

@{
    ViewData["Title"] = $"Your {(Model.IsNamePublic ? Model.EmployerAccountName : "opportunity")} ({Model.EncodedOpportunityId}) application details";
    var approve = SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationPostRequest.ApprovalAction.Approve;
    var reject = SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationPostRequest.ApprovalAction.Reject;
}

<a href="@Url.Action("Applications")" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

    <div class="govuk-width-container form-entry">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <div class="govuk-warning-text application-status-one">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Application status: <span class="@Model.Status.GetCssClassForReceiver()">@Model.Status.GetLabelForReceiver()</span>
                    </strong>
                </div>

                <div class="accepted-text-hide">
                    <h2 class="govuk-heading-m">About your apprenticeship training</h2>
                </div>

                <section class="das-highlight">
                    <p><strong>Apprenticeship training course:</strong> @Model.JobRole</p>
                    <p><strong>Number of apprentices:</strong> @Model.NumberOfApprentices</p>
                    <p><strong>Estimated total cost:</strong> @Model.Amount</p>
                    <p class="govuk-!-margin-bottom-0"><strong>Apprenticeship training to start by:</strong> @Model.StartBy.ToString("MM/yyyy")</p>
                </section>

                <h2 class="govuk-heading-m">Do you want to accept this transfer of funds?</h2>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="SelectedAction" name="SelectedAction" asp-for="SelectedAction" type="radio" value="@approve" das-highlight-error-for="SelectedAction" error-class="govuk-textarea--error" data-aria-controls="approval-content" />
                        <label class="govuk-label govuk-radios__label" for="SelectedAction">
                            Yes, accept the funding
                        </label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="approval-content">
                        <p>
                            I confirm that:
                        </p>

                        <checkbox asp-for="TruthfulInformation" label="terms and conditions" aria-controls="TruthfulInformation" css-class="govuk-checkboxes govuk-checkboxes--large">
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="truthful-information">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-checkboxes__label" asp-for="TruthfulInformation">
                                        the information that I have provided is truthful and accurate
                                    </label>
                                </div>
                            </div>
                        </checkbox>

                        <checkbox asp-for="ComplyWithRules" label="terms and conditions" aria-controls="ComplyWithRules" css-class="govuk-checkboxes govuk-checkboxes--large">
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="comply-with-rules">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-checkboxes__label" asp-for="ComplyWithRules">
                                        I will comply with the <a href="https://www.gov.uk/guidance/apprenticeship-funding-rules" target="_blank">apprenticeship funding rules</a>, including not offering or making any payments in return for a transfer of funding
                                    </label>
                                </div>
                            </div>
                        </checkbox>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <partial name="_OpportunitySummary" for="OpportunitySummaryViewModel" />
            </div>

        </div>

    </div>

</main>