@using SFA.DAS.LevyTransferMatching.Domain.Extensions
@using SFA.DAS.LevyTransferMatching.Domain.Types
@model SFA.DAS.LevyTransferMatching.Web.Models.Applications.ApplicationViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/accounts/applications/application";
    ViewBag.ZenDeskLabel = "LTM-R-application-det";    
}

<a href="@Url.Action("Applications", new { EncodedAccountId = Model.EncodedAccountId })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">@Model.Title</h1>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-body">
                        <b> Application status: </b>
                        <strong class="@Model.Status.GetCssClassForReceiver()">@Model.Status.GetLabelForReceiver()</strong>
                    </div>
                </div>
            </div>

            @if (Model.DisplayCurrentFundsBalance)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Current funds balance
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Accepted:
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.EstimatedTotalCost
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Used:
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.AmountUsed
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Remaining:
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.AmountRemaining
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Apprentices:
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.NumberOfApprenticesRemaining remaining
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        About your application training
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Apprenticeship training course:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.JobRole
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Number of apprentices:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.NumberOfApprentices
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Estimated total cost:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.EstimatedTotalCost
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Apprenticeship training to start by:
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.StartBy.ToString("MM/yyyy")
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
           
            @if (Model.Status == ApplicationStatus.Approved)
            {
                <p class="govuk-body">After you have accepted the funding, you will have 3 months to add apprentice details before it expires.</p>
            }

            <partial name="_ApplicationCanAcceptFundingPartial" model="Model" />

            <partial name="_ApplicationCanUseTransferFundsPartial" model="Model" />

            <partial name="_ApplicationCanWithdrawPartial" model="Model" />

        </div>

        <div class="govuk-grid-column-one-third">
            <partial name="_OpportunitySummary" for="OpportunitySummaryViewModel" />
        </div>

    </div>

</main>