@model SFA.DAS.LevyTransferMatching.Web.Models.Shared.OpportunitySummaryViewModel

<div class="das-highlight">
    <h2 class="govuk-heading-s">@(Model.OpportunityDetail.IsNamePublic ? $"{Model.OpportunityDetail.EmployerName} ({Model.OpportunityDetail.ReferenceNumber})" : "A levy-paying business wants to fund apprenticeship training in:") wants to fund apprenticeship training in:</h2>
    <dl class="das-definition-list app-dl-inline govuk-!-font-size-16">
        <dt class="app-dl-inline__title">Location</dt>
        <dd class="app-dl-inline__definition">####</dd>
        <dt class="app-dl-inline__title">Sector</dt>
        <dd class="app-dl-inline__definition">@Model.SectorList</dd>
        <dt class="app-dl-inline__title">Type of job role</dt>
        <dd class="app-dl-inline__definition">@Model.JobRoleList</dd>
        <dt class="app-dl-inline__title">Level</dt>
        <dd class="app-dl-inline__definition">@Model.LevelList</dd>
    </dl>
    <div class="app-highlight__footer">
        <p class="govuk-heading-s">Total funding available: up to £@Model.OpportunityDetail.Amount available in @Model.YearDescription</p>
    </div>
</div>