@using SFA.DAS.LevyTransferMatching.Web.Extensions
@using SFA.DAS.LevyTransferMatching.Web.Models.Pledges
@using SFA.DAS.LevyTransferMatching.Infrastructure.Configuration
@using SFA.DAS.LevyTransferMatching.Domain.Types
@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.CreateViewModel

@{
    ViewData["Title"] = "Create a transfer pledge";
    ViewBag.GaData.Vpv = "/accounts/pledges/create";
}

<a href="@Url.Action("Inform", "CreatePledge", new { Model.EncodedAccountId })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Create a transfer pledge</h1>
            <p>Create a transfer funding pledge that will be shown online so that businesses can apply to you for funding.</p>
            <p>The amount you choose and the criteria you set will be displayed publicly.</p>
            <p>You can choose whether or not to show your organisation's name publicly.</p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    We will add a reference number to each pledge you create to help keep track of applications.
                </strong>
            </div>
            <ol class="das-task-list">
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">1. </span> Pledge amount
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            @if (Model.AmountSectionComplete)
                            {
                                <strong class="govuk-tag app-task-list__group-header-tag">Completed</strong>
                            }
                            else
                            {
                                <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Not started</strong>
                            }
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Amount", new AmountRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey}, true)">
                                    Amount you want to pledge
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                @if (Model.Amount.HasValue)
                                {
                                    @:&pound;@($"{Model.Amount.Value:n0}")
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </span>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">2. </span> Show organisation name <br/>
                                <span class="govuk-hint app-task-list__group-header-hint">Your organisation's name will be shown on the search funding opportunities page. </span>

                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            @if (Model.OrganisationNameSectionComplete)
                            {
                                <strong class="govuk-tag app-task-list__group-header-tag">Completed</strong>
                            }
                            else
                            {
                                <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Not started</strong>
                            }
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                      
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Organisation", new AmountRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey}, true)">
                                    Show or hide your organisation's name
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                @Model.IsNamePublicDisplayValue
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-three-quarters">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">3. </span> Select criteria <br />
                                <span class="govuk-hint app-task-list__group-header-hint">The following criteria are all optional. If you do not change any criteria then it is assumed that any transfer request will automatically be a 100% match. </span>
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Optional</strong>
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Location", new LocationRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey})">
                                    Location
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                @if (Model.AreAllLocationsSelected)
                                {
                                    <text>All of England</text>
                                }
                                else
                                {
                                    <ul class="govuk-list das-!-text-align-right">
                                        @foreach (var location in Model.Locations)
                                        {
                                            <li>@location</li>
                                        }
                                    </ul>
                                }
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Sector", new SectorRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey}, true)">
                                    Sector
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">

                                @if (Model.AreAllSectorsSelected)
                                {
                                    <text>All sectors and industries</text>
                                }
                                else
                                {
                                    <unordered-list asp-for="Sectors" source="@Model.SectorOptions" class="govuk-list das-!-text-align-right"></unordered-list>
                                }

                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("JobRole", new JobRoleRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey}, true)">
                                    Type of job role
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">

                                @if (Model.AreAllJobRolesSelected)
                                {
                                    <text>All apprenticeship job roles</text>
                                }
                                else
                                {
                                    <unordered-list asp-for="JobRoles" source="@Model.JobRoleOptions" class="govuk-list das-!-text-align-right"></unordered-list>
                                }

                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Level", new LevelRequest { EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey }, true)">
                                    Level
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">

                                @if (Model.AreAllLevelsSelected)
                                {
                                    <text>All qualification levels</text>
                                }
                                else
                                {
                                    <unordered-list asp-for="Levels" source="@Model.LevelOptions" class="govuk-list das-!-text-align-right"></unordered-list>
                                }

                            </span>
                        </li>
                    </ul>
                </li>
                @if (Model.AutoApprovalIsEnabled)
                {
                    <li>
                        <div class="govuk-grid-row app-task-list__group-header">
                            <div class="govuk-grid-column-three-quarters">
                                <h2 class="das-task-list__section">
                                    <span class="das-task-list__section-number">4. </span> 100% matches <br />
                                    <span class="govuk-hint app-task-list__group-header-hint">
                                        100% matches are applications that match all your criteria. You can choose to automatically approve 100% match applications immediately, 
                                        or take 6 weeks to review, approve, or reject them before they are automatically approved.
                                    </span>
                                </h2>
                            </div>
                            <div class="govuk-grid-column-one-quarter">
                                @if (Model.AutoApproveSectionComplete)
                                {
                                    <strong class="govuk-tag app-task-list__group-header-tag">Completed</strong>
                                }
                                else
                                {
                                    <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Not started</strong>
                                }
                            </div>
                        </div>
                        <ul class="das-task-list__items">

                            <li class="das-task-list__item">
                                <span class="das-task-list__task-name">
                                    <a class="govuk-link" href="@Url.Action("AutoApproval", new AutoApproveRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey}, true)">
                                        Review or approve immediately
                                    </a>
                                </span>
                                <span class="das-task-list__task-tag">
                                    @if (Model.AutomaticApprovalOption == AutomaticApprovalOption.ImmediateAutoApproval)
                                    {
                                        <text>No delay</text>
                                    }
                                    else if (Model.AutomaticApprovalOption == AutomaticApprovalOption.DelayedAutoApproval)
                                    {
                                        <text>Delay</text>
                                    }
                                </span>
                            </li>
                        </ul>
                    </li>
                }
            </ol>
        <div class="govuk-grid-column-full">
            @if (Model.MandatorySectionsAreComplete)
            {
                <form method="post">
                    <div class="govuk-grid-row">
                        <h2 class="govuk-heading-m">Submit your transfer pledge</h2>
                        <p>I confirm that I want to make the above pledge so I can fund another business's apprenticeship training and assessment with my levy funds.</p>
                        <div class="govuk-inset-text">
                            <p>
                                <strong>Disclaimer:</strong> The information provided by applicants to your pledge will not be checked and verified by the apprenticeship service.
                            </p>
                            <p>
                                You may wish to undertake your own in-house governance process before committing to fund a transfer. The receiving employer will provide you with their contact details as part of their application in order to do this.
                            </p>
                        </div>
                            <div class="govuk-button-group govuk-!-margin-top-5">
                                <button class="govuk-button pledge-level-continue" data-module="govuk-button" id="pledge-create-submit">Submit my pledge</button>
                            </div>
                        </div>
                </form>
            }
        </div>

        <a class="govuk-link" href="@Url.Action("Inform", "CreatePledge", new { Model.EncodedAccountId })">Cancel pledge</a>

        </div>
    </div>
</main>