@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.LocationSelectViewModel
@{
    ViewData["Title"] = "Select Location";
    ViewBag.GaData.Vpv = "/accounts/pledges/create/location/select";
}

<a href="@Url.Action("Location", "CreatePledge", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">There are multiple locations based on your selected locations</h1>
            <form method="post" id="select-location-form">

                @for (var index = 0; index < Model.SelectValidLocationGroups.Length; index++)
                {
                    <input type="hidden" asp-for="SelectValidLocationGroups[i].Index" />

                    <div class="govuk-form-group" error-class="govuk-form-group--error" das-highlight-error-for="SelectValidLocationGroups[index]">
                        <fieldset class="govuk-fieldset" id="@($"SelectValidLocationGroups_{index}_")">
                            <legend class="govuk-fieldset__legend">Please select the correct location</legend>
                            <span class="govuk-error-message">@Html.ValidationMessageFor(x => Model.SelectValidLocationGroups[index])</span>
                            <div class="govuk-radios">

                                @for (var itemIndex = 0; itemIndex < Model.SelectValidLocationGroups[index].ValidLocationItems.Length; itemIndex++) 
                                {
                                    <div class="govuk-radios__item">
                                        <input
                                            class="govuk-radios__input"
                                            id="@($"SelectValidLocationGroups_{index}__ValidLocationItems_{itemIndex}_")"
                                            asp-for="SelectValidLocationGroups[i].SelectedValue" 
                                            type="radio"
                                            value="@Model.SelectValidLocationGroups[index].ValidLocationItems[itemIndex].Value"
                                            das-highlight-error-for="SelectValidLocationGroups[index].ValidLocationItems[itemIndex]"
                                            error-class="govuk-textarea--error"
                                            checked="@Model.SelectValidLocationGroups[index].ValidLocationItems[itemIndex].Selected">
                                        <label class="govuk-label govuk-radios__label" asp-for="SelectValidLocationGroups[i].ValidLocationItems[j]">@Model.SelectValidLocationGroups[index].ValidLocationItems[itemIndex].Value</label>
                                    </div>
                                }

                            </div>
                        </fieldset>
                    </div>
                }

                <div class="govuk-button-group">
                    <button id="submit-selected-locations" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a href="@Url.Action("Location", "Pledges", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>
                </div>
            </form>
        </div>
    </div>
</main>
