@using SFA.DAS.LevyTransferMatching.Web.Extensions
@model SFA.DAS.LevyTransferMatching.Web.Models.Opportunities.ApplyViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator LinkGenerator
@{
    ViewData["Title"] = "Opportunities";
}
<a href="@(Model.AccessToMultipleAccounts ? Url.Action("SelectAccount", new { EncodedOpportunityId = Model.EncodedPledgeId }) : Url.Action("Detail", new { Model.EncodedPledgeId }))" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Find a business to transfer your levy to</span>
            <h1 class="govuk-heading-xl">Create a transfers application</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span> All your details will be passed to the employer who owns the transfer funding.
                </strong>
            </div>
            <ol class="das-task-list">
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">1. </span> Apprenticeship training
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            @if (Model.IsApprenticeshipTrainingSectionComplete)
                            {
                                <strong class="govuk-tag app-task-list__group-header-tag">Completed</strong>
                            }
                            else
                            {
                                <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Not started</strong>
                            }
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("ApplicationDetails", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, CacheKey = Model.CacheKey })">
                                    Job role
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <text>@Model.JobRole</text>
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("ApplicationDetails", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, CacheKey = Model.CacheKey })">
                                    Number of apprentices
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <text>@Model.NumberOfApprentices</text>
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("ApplicationDetails", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, CacheKey = Model.CacheKey })">
                                    Start by
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <text>@Model.StartBy</text>
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("ApplicationDetails", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, CacheKey = Model.CacheKey })">
                                    Have you found a training provider?
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <text>@Model.HaveTrainingProvider</text>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-three-quarters">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">2. </span> Your business details
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            @if (Model.IsBusinessDetailsSectionComplete)
                            {
                                <strong class="govuk-tag app-task-list__group-header-tag">Completed</strong>
                            }
                            else
                            {
                                <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Not started</strong>
                            }
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Sector", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, CacheKey = Model.CacheKey })">
                                    Sector
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                @if (Model.Sectors != null)
                                {
                                    <unordered-list asp-for="Sectors" source="@Model.SectorOptions" class="govuk-list das-!-text-align-right"></unordered-list>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Sector", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, CacheKey = Model.CacheKey })">
                                    Location
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <text>@Model.Location</text>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-three-quarters">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">3. </span> About your apprenticeship
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Optional</strong>
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("MoreDetails", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, CacheKey = Model.CacheKey })">
                                    More detail
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <pre class="govuk-body das-preformatted-body">@Model.MoreDetail</pre>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-three-quarters">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">4. </span> Contact details
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            @if (Model.IsContactDetailsSectionComplete)
                            {
                                <strong class="govuk-tag app-task-list__group-header-tag">Completed</strong>
                            }
                            else
                            {
                                <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Not started</strong>
                            }
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("ContactDetails", new { encodedAccountId = Model.EncodedAccountId, encodedPledgeId = Model.EncodedPledgeId, cacheKey = Model.CacheKey }, true)">
                                    Name
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <text>@Model.ContactName</text>
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("ContactDetails", new { encodedAccountId = Model.EncodedAccountId, encodedPledgeId = Model.EncodedPledgeId, cacheKey = Model.CacheKey }, true)">
                                    Email address
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                @if (Model.EmailAddresses.Count() > 0)
                                {
                                    <ul class="govuk-list das-!-text-align-right">
                                        @foreach (var emailAddress in Model.EmailAddresses)
                                        {
                                            <li>@emailAddress</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("ContactDetails", new { encodedAccountId = Model.EncodedAccountId, encodedPledgeId = Model.EncodedPledgeId, cacheKey = Model.CacheKey }, true)">
                                    Business website
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                <text>@Model.WebsiteUrl</text>
                            </span>
                        </li>
                    </ul>
                </li>
            </ol>
            <div class="govuk-grid-column-full">
                @if (Model.IsComplete)
                {
                    <form method="post">
                        <div class="govuk-grid-row">
                            <h2 class="govuk-heading-m">Submit your transfers application</h2>
                            <p>I confirm that I want to make the above application so I can receive funding from another business for apprenticeship training.</p>
                            <button class="govuk-button" data-module="govuk-button" id="opportunity-apply-submit">Submit my application</button>
                        </div>
                    </form>
                }
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <section class="employer-details side-panel">
                <partial name="/Views/Shared/_OpportunitySummary.cshtml" for="OpportunitySummaryViewModel" />
            </section>
        </div>
    </div>
</main>