@model SFA.DAS.LevyTransferMatching.Web.Models.Opportunities.ContactDetailsViewModel

@using SFA.DAS.LevyTransferMatching.Web.Models.Opportunities;

@{
    ViewData["Title"] = "Add Contact Details";
}

<a href="@Url.Action("apply", new { encodedAccountId = Model.EncodedAccountId, encodedPledgeId = Model.EncodedPledgeId, cacheKey = Model.CacheKey })" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
            <h1 class="govuk-heading-xl">Add contact details</h1>

            <p>Add your contact details so they can be shared with <strong class="pledge-name-answer main-title">####</strong>.</p>

            <p>They may contact you with follow-up questions about your application.</p>

            <form method="post">

                <div class="govuk-form-group" das-highlight-error-for="FirstName" error-class="govuk-form-group--error">
                    <label class="govuk-label" for="pledge-application-firstname">First name</label>
                    <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.FirstName)</span>
                    <input class="govuk-input govuk-input--width-20" id="FirstName" name="FirstName" type="text" asp-for="FirstName" das-highlight-error-for="FirstName" error-class="govuk-textarea--error">
                </div>

                <div class="govuk-form-group" das-highlight-error-for="LastName" error-class="govuk-form-group--error">
                    <label class="govuk-label" for="pledge-application-lastname">Last name</label>
                    <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.LastName)</span>
                    <input class="govuk-input govuk-input--width-20" id="LastName" name="LastName" type="text" asp-for="LastName" das-highlight-error-for="LastName" error-class="govuk-textarea--error">
                </div>
                <!--
                <div class="application-emails">
                    <div id="pledge-application-emails">
                        <div class="govuk-form-group first-of-type" das-highlight-error-for="EmailAddresses[0]" error-class="govuk-form-group--error">
                            <label class="govuk-label" for="pledge-application-email-0">Email address</label>
                            <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.EmailAddresses[0])</span>
                            <input class="govuk-input govuk-input--width-20" id="pledge-application-email-0" name="pledge-application-email-0" type="email" spellcheck="false" asp-for="EmailAddresses[0]" das-highlight-error-for="EmailAddresses[0]" error-class="govuk-textarea--error">
                        </div>

                        @for (int i = 1; i < Model.EmailAddresses.Length; i++)
                        {
                            <div class="govuk-form-group additional-email" das-highlight-error-for="EmailAddresses[i]" error-class="govuk-form-group--error">
                                <label class="govuk-label" for="@($"pledge-application-email-{i}")">Additional email address</label>
                                <input class="govuk-input govuk-input--width-20" id="@($"pledge-application-email-{i}")" name="@($"pledge-application-email-{i}")" type="email" spellcheck="false" asp-for="EmailAddresses[i]" das-highlight-error-for="EmailAddresses[i]" error-class="govuk-textarea--error">
                            </div>
                        }
                    </div>
                </div>
                -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="pledge-application-website">Business website (if you have one)</label>
                    <input class="govuk-input govuk-input--width-20" id="pledge-application-website" name="pledge-application-website" type="text" asp-for="BusinessWebsite" das-highlight-error-for="BusinessWebsite" error-class="govuk-textarea--error">
                </div>

                <p><br></p>

                <button class="govuk-button" data-module="govuk-button" id="application-contact-details">Continue</button>

                <a href="@Url.Action("apply", new { encodedAccountId = Model.EncodedAccountId, encodedPledgeId = Model.EncodedPledgeId, cacheKey = Model.CacheKey })" class="govuk-link govuk-link--no-visited-state govuk-link-secondary govuk-back-link">Back</a>

            </form>

        </div>

        <div class="govuk-grid-column-one-third">
            <section class="employer-details side-panel">
                <p class="govuk-heading-s"><span class="pledge-name-answer">####</span> wants to fund apprenticeship training in:</p>
                <p class="details">
                    Location: <strong class="pledge-location-answer">####</strong><br>
                    Sector: <strong class="pledge-sector-answer">####</strong><br>
                    Category of training: <strong class="pledge-training-answer">####</strong><br>
                    Level: <strong class="pledge-level-answer">####</strong>
                </p>
                <div class="total">
                    <p class="govuk-heading-s">Total funding available:<br>up to £<span class="pledge-value-answer value-format">####</span> in 2021/22</p>
                </div>
            </section>
        </div>
    </div>
</main>