@model SFA.DAS.LevyTransferMatching.Web.Models.Opportunities.ContactDetailsViewModel

@{
    ViewData["Title"] = "Add Contact Details";
}

<a href="@Url.Action("Apply", "Opportunities", new { encodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, cacheKey = Model.CacheKey })" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-m">Find a business to fund training for your apprentices</span>
            <h1 class="govuk-heading-xl">Add contact details</h1>

            <p>Add your contact details so they can be shared with <strong class="pledge-name-answer main-title">@Model.DasAccountName</strong>.</p>

            <p>They may contact you with follow-up questions about your application.</p>

            <form method="post">

                <div class="govuk-form-group" das-highlight-error-for="FirstName" error-class="govuk-form-group--error">
                    <label class="govuk-label" for="FirstName">First name</label>
                    <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.FirstName)</span>
                    <input class="govuk-input govuk-input--width-20" id="FirstName" name="FirstName" type="text" asp-for="FirstName" das-highlight-error-for="FirstName" error-class="govuk-textarea--error">
                </div>

                <div class="govuk-form-group" das-highlight-error-for="LastName" error-class="govuk-form-group--error">
                    <label class="govuk-label" for="LastName">Last name</label>
                    <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.LastName)</span>
                    <input class="govuk-input govuk-input--width-20" id="LastName" name="LastName" type="text" asp-for="LastName" das-highlight-error-for="LastName" error-class="govuk-textarea--error">
                </div>

                <div class="application-emails">
                    <div id="pledge-application-emails">
                        <div class="govuk-form-group first-of-type" das-highlight-error-for="EmailAddress" error-class="govuk-form-group--error">
                            <label class="govuk-label" for="EmailAddress">Email address</label>
                            <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.EmailAddress)</span>
                            <input class="govuk-input govuk-input--width-20" id="EmailAddress" name="EmailAddress" type="email" spellcheck="false" asp-for="EmailAddress" das-highlight-error-for="EmailAddress" error-class="govuk-textarea--error">
                        </div>

                        @for (int i = 0; i < Model.AdditionalEmailAddresses.Length; i++)
                        {
                            <div class="govuk-form-group additional-email" das-highlight-error-for="AdditionalEmailAddresses[i]" error-class="govuk-form-group--error" id="@($"AdditionalEmailAddresses_{i}_")">
                                <label class="govuk-label" for="@($"AdditionalEmailAddresses[{i}]")">Additional email address</label>
                                <span class="govuk-error-message">@Html.ValidationMessageFor(x => x.AdditionalEmailAddresses[i])</span>
                                <input class="govuk-input govuk-input--width-20" id="@($"AdditionalEmailAddresses[{i}]")" name="@($"AdditionalEmailAddresses[{i}]")" type="email" spellcheck="false" asp-for="AdditionalEmailAddresses[i]" das-highlight-error-for="AdditionalEmailAddresses[i]" error-class="govuk-textarea--error">
                            </div>
                        }
                    </div>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="pledge-application-website">Business website (if you have one)</label>
                    <input class="govuk-input govuk-input--width-20" id="pledge-application-website" name="pledge-application-website" type="text" asp-for="BusinessWebsite" das-highlight-error-for="BusinessWebsite" error-class="govuk-textarea--error">
                </div>

                <p><br></p>

                <button class="govuk-button" data-module="govuk-button" id="application-contact-details">Continue</button>

                <a href="@Url.Action("Apply", "Opportunities", new { encodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId, cacheKey = Model.CacheKey })" class="govuk-link govuk-link--no-visited-state govuk-link-secondary govuk-back-link">Back</a>

            </form>

        </div>

        <div class="govuk-grid-column-one-third">
            <partial name="_OpportunitySummary" for="OpportunitySummaryViewModel" />
        </div>
    </div>
</main>