@model SFA.DAS.LevyTransferMatching.Web.Models.Opportunities.IndexViewModel

@{
    ViewData["Title"] = "Search funding opportunities";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <h1 class="govuk-heading-xl">
        Search funding opportunities
    </h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p>Large businesses that want to fund the apprenticeships of other businesses can set funding criteria to show the training they want to support.</p>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Examples</span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        <strong>Example 1</strong><br>
                        A large business might choose to fund apprenticeships in construction companies based in Manchester, Liverpool and Leeds.
                    </p>
                    <p>
                        <strong>Example 2</strong><br>
                        A large business might choose to fund digital apprentices in any sector across all of England
                    </p>
                </div>
            </details>
            <p>You can browse all opportunities available.</p>
            <p>Some businesses have chosen not to share their organisation's name publicly so these opportunities just show a reference number. If your application is successful, we'll let you know who the employer willing to fund your apprenticeship training is.</p>
            <h2 class="govuk-heading-m">@Model.Opportunities.Count() 
            @if (Model.Opportunities.Count() == 1)
                { <text>opportunity</text> }
            else
                { <text>opportunities</text> }</h2>
            <div class="das-search-results">
                <ol class="das-search-results__list">
                    @foreach (var opportunity in Model.Opportunities)
                    {
                    <li class="das-search-results__list-item">
                        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-0">
                            <a href="@Url.Action("Detail", new { EncodedPledgeId = opportunity.ReferenceNumber })" class="das-search-results__link">@opportunity.EmployerName (@opportunity.ReferenceNumber)</a>
                        </h2>
                        <p class="govuk-hint">up to @opportunity.DisplayAmount available in @Model.TaxYear</p>
                        <ul class="govuk-list govuk-!-margin-bottom-0">
                            <li>
                                <strong>Locations: </strong>
                                <span class="das-!-color-dark-grey">@opportunity.Locations</span>
                            </li>
                            <li>
                                <strong>Sectors: </strong>
                                <span class="das-!-color-dark-grey">@opportunity.Sectors</span>
                            </li>
                            <li>
                                <strong>Type of role: </strong>
                                <span class="das-!-color-dark-grey">@opportunity.JobRoles</span>
                            </li>
                            <li>
                                <strong>Levels: </strong>
                                <span class="das-!-color-dark-grey">@opportunity.Levels</span>
                            </li>
                        </ul>
                    </li>
                    }
                </ol>
            </div>
        </div>
    </div>
</main>