@using SFA.DAS.LevyTransferMatching.Web.Models.Pledges
@model ApplicationApprovedViewModel
@{
    ViewData["Title"] = "Application Approved";
    ViewBag.GaData.Vpv = "/accounts/pledges/applications/application/approved";
    ViewBag.ZenDeskLabel = "LTM-S-application-approved";
}

<a href="@Url.Action("Applications", "Pledges", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId })"
   class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-width-container form-entry">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-panel govuk-panel--confirmation pledge-approved">
                        <h1 class="govuk-panel__title">Application approved</h1>
                        <div class="govuk-panel__body">
                            <strong>@Model.DasAccountName</strong>
                        </div>
                    </div>

                    <h2 class="govuk-heading-m govuk-!-margin-top-2">What happens next?</h2>

                    <p>We’ve let <strong>@Model.DasAccountName</strong> know, so they can accept your funding pledge.</p>

                    <p>@Model.DasAccountName will have 6 weeks to accept the funds. Funds must be used within 3 months of acceptance or they will no longer be available to @Model.DasAccountName.</p>

                    <p>You'll receive notification if <strong>@Model.DasAccountName</strong>:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>accepts your pledge</li>
                        <li>adds apprentices to their account</li>
                    </ul>

                    @if (!Model.AllowTransferRequestAutoApproval)
                    {
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <p class="govuk-warning-text__text">
                                <strong>You'll need to approve the transfer when @Model.DasAccountName adds apprentice details to their account.</strong>
                            </p>
                        </div>
                    }

                    <p>
                        <a href="@Url.Action("Applications", "Pledges", new { EncodedAccountId = Model.EncodedAccountId, EncodedPledgeId = Model.EncodedPledgeId })"
                           class="govuk-link govuk-link--no-visited-state">View other applications</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>