@using SFA.DAS.LevyTransferMatching.Domain.Extensions
@using SFA.DAS.LevyTransferMatching.Web.Extensions
@using SFA.DAS.LevyTransferMatching.Domain.Types
@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationsViewModel
@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator LinkGenerator
@{
    ViewData["Title"] = "Transfer pledge";
    ViewBag.GaData.Vpv = "/accounts/applications";
    ViewBag.ZenDeskLabel = "LTM-S-pledge-details";

    var currentPageRoute = $"/accounts/{@Model.EncodedAccountId}/pledges/{@Model.EncodedPledgeId}/applications";
    var breadCrumbs = new List<Tuple<string, string>>
    {
        new Tuple<string, string>(LinkGenerator.AccountsLink($"accounts/{Model.EncodedAccountId}/teams"), "Home"),
        new Tuple<string, string>(LinkGenerator.FinanceLink($"accounts/{Model.EncodedAccountId}/transfers"), "Your transfers"),
        new Tuple<string, string>($"/accounts/{@Model.EncodedAccountId}/pledges", "My transfer pledges"),
        new Tuple<string, string>("", $"Transfer pledge {@Model.EncodedPledgeId}")
    };

    string Pluralise(int count, string singular)
    {
        return count == 1 ? singular : singular + "s";
    };
}

<bread-crumb source="@breadCrumbs"></bread-crumb>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />

    <div class="govuk-width-container">
        @if (Model.DisplayRejectedBanner)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        Application rejected
                    </h3>
                    <p class="govuk-body">You rejected the @Model.RejectedEmployerName application.</p>
                </div>
            </div>
        }

        <partial name="_FlashMessagePartial" />
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (Model.AutomaticApprovalOption == AutomaticApprovalOption.ImmediateAutoApproval)
                {
                    <span class="govuk-caption-l">Auto approval</span>
                }
                else if (Model.AutomaticApprovalOption == AutomaticApprovalOption.DelayedAutoApproval)
                {
                    <span class="govuk-caption-l">Auto approval: 6 week review</span>
                }
                else
                {
                    <span>&nbsp;</span>
                }
            </div>
            <div class="govuk-grid-column-one-third">
                @if (Model.Applications.Any())
                {
                    <p>
                        <a href="/accounts/@Model.EncodedAccountId/pledges/@Model.EncodedPledgeId/applications/download"
                           class="govuk-link">
                            Download applications (CSV)
                        </a>
                    </p>
                }
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Transfer pledge @Model.EncodedPledgeId
                </h1>
            </div>           
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="app-data ">
                    <p class="govuk-heading-s app-data__title">
                        Pledged funds
                    </p>
                    <p class="govuk-heading-l app-data__figure">
                        @Model.PledgeTotalAmount
                    </p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="app-data app-data--information">
                    <p class="govuk-heading-s app-data__title">
                        Pledged funds remaining
                    </p>
                    <p class="govuk-heading-l app-data__figure">
                        @Model.PledgeRemainingAmount
                    </p>
                </div>
            </div>
        </div>

        @if (Model.Applications.Any())
        {
            @if (Model.AutomaticApprovalOption == AutomaticApprovalOption.ImmediateAutoApproval)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-inset-text">
                            <p>
                                <b>
                                    You have chosen to automatically approve any applications to this pledge which match all of your criteria.
                                </b>
                            </p>
                            <p>This means that you do not need to do anything to approve 100% matches.</p>
                        </div>
                    </div>
                </div>             
            }
            else if (Model.AutomaticApprovalOption == AutomaticApprovalOption.DelayedAutoApproval)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-inset-text">
                            <p>
                                <b>
                                    You have chosen to review the applications to this pledge that match all of your criteria.
                                </b>
                            </p>
                            <p>This means that:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>you have 6 weeks to accept or reject 100% matches</li>
                                <li>if you do not take any action in the 6 weeks after application then 100% matches will be approved automatically</li>
                            </ul>
                        </div>
                    </div>
                </div>                
            }
            @if (Model.AutomaticApprovalOption == AutomaticApprovalOption.NotApplicable)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-inset-text">
                            <p>
                                You may have applications waiting to be approved or rejected. Applicants need a response from you
                                in order to manage their apprenticeships.
                            </p>
                            <p>
                                Select the name of the applicant to review. If you want to approve or reject more than 1
                                application, tick the box then select awaiting your approval or reject.
                            </p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p>
                            You need to approve or reject applications which do not match all of your criteria. Applicants need your response to manage their apprenticeships.
                        </p>
                        <p>
                            If you do not respond to applications which are less than 100% matches then they will be rejected automatically after 3 months.
                        </p>
                    </div>
                </div>
            }            
        }
    </div>

    <div class="govuk-grid-row">
        @if (Model.ApplicationsPendingApproval != 0)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">
                        @Model.ApplicationsPendingApproval @Pluralise(Model.ApplicationsPendingApproval, "application")
                        awaiting your approval
                    </h2>
                </div>
            </div>
        }

        @if (Model.RenderApplicationsList)
        {
            <form method="post" id="applications_actions_form">
                <div class="govuk-form-group" das-highlight-error-for="ApplicationsToReject"
                    error-class="govuk-form-group--error" id="ApplicationsToReject">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-visually-hidden">Select the applications that you want to reject</legend>
                        <table class="govuk-table" aria-label="Pledge applications">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header das-table-cell-width-5"></th>
                                    <th scope="col" class="govuk-table__header das-table-cell-width-25">
                                        <sortable-column column-name="Applicant" column-label="Applicant" default="false"
                                            default-order="Ascending"></sortable-column>
                                    </th>
                                    <th scope="col" class="govuk-table__header das-table-cell-width-15">
                                        <sortable-column column-name="CurrentFinancialYearAmount"
                                            column-label="Estimated yearly cost" default="false"
                                            default-order="Descending"></sortable-column>
                                    </th>
                                    <th scope="col" class="govuk-table__header das-table-cell-width-15">
                                        <sortable-column column-name="Duration" column-label="Typical duration"
                                            default="false" default-order="Descending"></sortable-column>
                                    </th>
                                    <th scope="col" class="govuk-table__header das-table-cell-width-20">
                                        <sortable-column column-name="CriteriaMatch" column-label="Criteria" default="false"
                                            default-order="Descending"></sortable-column>
                                    </th>
                                    <th scope="col" class="govuk-table__header status">
                                        <sortable-column column-name="Status" column-label="Status" default="false"
                                            default-order="Descending"></sortable-column>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @{
                                    foreach (var app in Model.Applications)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">
                                                @if (app.Status == ApplicationStatus.Pending)
                                                {
                                                    <div class="govuk-checkboxes govuk-checkboxes--small"
                                                        das-highlight-error-for="@app.EncodedApplicationId"
                                                        error-class="govuk-form-group--error">
                                                        <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input"
                                                                id="application_select_@app.EncodedApplicationId"
                                                                error-class="govuk-input--error" name="ApplicationsToReject"
                                                                type="checkbox" value="@app.EncodedApplicationId">
                                                            <label class="govuk-label govuk-checkboxes__label"
                                                                for="application_select_@app.EncodedApplicationId">
                                                                <span class="govuk-visually-hidden">@app.DasAccountName</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                }
                                            </td>
                                            <td class="govuk-table__cell"><a href="applications/@app.EncodedApplicationId"
                                                    class="govuk-link">@app.DasAccountName</a></td>
                                            <td class="govuk-table__cell">
                                                @app.DisplayAmount
                                            </td>
                                            <td class="govuk-table__cell">@app.Duration months</td>
                                            <td class="govuk-table__cell">
                                                <criteria-list application="@app"></criteria-list>
                                            </td>
                                            <td class="govuk-table__cell"><strong
                                                    class="@app.Status.GetCssClassForSender(app.RemainingDaysForDelayedApproval, app.RemainingDaysForAutoRejection)">@app.Status.GetLabelForSender(app.RemainingDaysForDelayedApproval,
                                        app.RemainingDaysForAutoRejection)</strong></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                @if (Model.RenderRejectButton)
                {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div class="govuk-button-group">
                                <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
                                    id="applications-action" type="submit">Reject application</button>
                            </div>
                        </div>
                    </div>
                }


            </form>

        }
        else
        {
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden">No applications received yet</legend>
                <table class="govuk-table" aria-label="Pledge applications">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header das-table-cell-width-5"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" data-table-row="one">
                            <td colspan="6" class="govuk-table__cell">No applications received yet</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        }
        @if (Model.Paging.ShowPageLinks)
        {
            <nav role="navigation" class="das-search-results__list--border" aria-label="Pagination">
                <div class="das-pagination__summary">
                    @if (Model.Paging.Page == 1)
                    {
                        <text>Showing @Model.Paging.PageEndRow of @Model.Paging.TotalResults applications</text>
                    }
                    else if (Model.Paging.Page > 1)
                    {
                        <text>Showing @Model.Paging.PageStartRow to @Model.Paging.PageEndRow of @Model.Paging.TotalResults applications</text>
                    }
                </div>
                <ul class="das-pagination">
                    @foreach (var pageLink in Model.Paging.PageLinks)
                    {
                        <li class="das-pagination__item">
                            <a class="das-pagination__link @(pageLink.IsCurrent.HasValue && pageLink.IsCurrent.Value ? "current" : "")"

                               asp-all-route-data="@pageLink.RouteData"
                               asp-route="@RouteNames.PledgeApplications"
                               aria-current="@pageLink.IsCurrent" aria-label="@pageLink.AriaLabel">
                                @pageLink.Label
                            </a>
                        </li>
                    }
                </ul>
            </nav>
            <br/>
        }
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-button-group">
                    @if (Model.UserCanClosePledge)
                    {
                        <form action="/accounts/@Model.EncodedAccountId/pledges/@Model.EncodedPledgeId/close" method="get">
                            <button id="close-pledge-button"
                                class="govuk-button govuk-link-secondary govuk-button--warning accepted-journey-cancel-button no-margin-top">
                                Close pledge
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
