@using SFA.DAS.LevyTransferMatching.Web.Extensions
@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationViewModel
@{
    var approve = SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationPostRequest.ApprovalAction.Approve;
    var reject = SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationPostRequest.ApprovalAction.Reject;
}

<a href="@Url.Action("Applications", "Pledges", new { encodedAccountId = ViewContext.RouteData.Values["encodedAccountId"], EncodedPledgeId = ViewContext.RouteData.Values["EncodedPledgeId"]})" class="govuk-back-link">Back to my transfer applications</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <h1 class="govuk-heading-xl">
        @Model.EmployerAccountName
    </h1>
    <div class="das-highlight">
        <h2 class="govuk-heading-m">Details about the application</h2>
        @*
            commenting out the styles as they have been removed as part of TM-98, however the design was done by James so it's production ready and when picked up in a later task can be easily handled
        *@
        @*<p><strong class="govuk-tag govuk-tag--@Model.MatchPercentageCssClass">@Model.MatchPercentage Match</strong></p>

            <ul class="govuk-list app-icon-list">
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon @Model.LocationCssClass">No match on </span>Location: <strong>@Model.Location</strong>
                </li>
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon @Model.SectorCssClass">No match on </span>Sector: <strong>@Model.DisplaySectors</strong>
                </li>
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon" @Model.JobRoleCssClass>No match on </span>Type of job role: <strong>@Model.JobRole</strong>
                </li>
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon @Model.LevelCssClass">Match for: </span>Level: <strong>@Model.Level</strong>
                </li>
            </ul>
        *@

        <dl class="govuk-body app-dl-icon-list govuk-!-margin-bottom-4">
            <dt class="app-dl-icon-list__title">
                Location
            </dt>
            <dd class="app-dl-icon-list__definition">@Model.Locations</dd>
            <dt class="app-dl-icon-list__title">Sector</dt>
            <dd class="app-dl-icon-list__definition">@Model.DisplaySectors</dd>
            <dt class="app-dl-icon-list__title">Type of job role</dt>
            <dd class="app-dl-icon-list__definition">@Model.JobRole</dd>
            <dt class="app-dl-icon-list__title">Level</dt>
            <dd class="app-dl-icon-list__definition">@Model.Level</dd>
        </dl>
  
        <dl class="govuk-body app-dl-inline">
            <dt class="app-dl-inline__title">Apprentices</dt>
            <dd class="app-dl-inline__definition--strong">@Model.NumberOfApprentices</dd>
            <dt class="app-dl-inline__title">Estimated duration</dt>
            <dd class="app-dl-inline__definition--strong">@Model.EstimatedDurationMonths months</dd>
            <dt class="app-dl-inline__title">Start by</dt>
            <dd class="app-dl-inline__definition--strong">@Model.StartBy.ToString("MMMMM yyyy")</dd>
            <dt class="app-dl-inline__title">Do they have a training provider</dt>
            <dd class="app-dl-inline__definition--strong">@Model.HasTrainingProvider.ToYesNo()</dd>
        </dl>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.AboutOpportunity))
    {
        <div class="das-highlight">
            <h2 class="govuk-heading-m">About their apprenticeship opportunity</h2>
            <p>@Model.AboutOpportunity</p>
        </div>
    }

    <div class="das-highlight">
        <h2 class="govuk-heading-m">Can I afford to fund this training?</h2>
        <p>Estimated cost over @Model.EstimatedDurationMonths months: <strong>@Model.Affordability.EstimatedCostOverDuration</strong></p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">For @Model.Affordability.YearDescription:</h3>
        <dl class="app-dl-inline govuk-body govuk-!-margin-bottom-4">
            <dt class="app-dl-inline__title">Pledge funds remaining this year</dt>
            <dd class="app-dl-inline__definition">@Model.Affordability.RemainingFunds</dd>
            <dt class="app-dl-inline__title">Estimated costs this year</dt>
            <dd class="app-dl-inline__definition">@Model.Affordability.EstimatedCostThisYear</dd>
        </dl>
        <p>Pledge funds remaining if application is approved: <strong>@Model.Affordability.RemainingFundsIfApproved</strong></p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is estimated cost?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>The estimated total cost of training is based on the funding band maximum.</p>
                <p>The estimated cost of training for this financial year is based on the funding band maximum, the planned start date of training and the 20% completion payment.</p>
            </div>
        </details>
    </div>

    <div class="das-highlight">
        <h2 class="govuk-heading-m">Contact details</h2>
        <p>You can contact @Model.EmployerAccountName if you would like to ask them for more information.</p>
        <ul class="govuk-list app-icon-list">
            <li class="app-icon-list__list-item">
                <span class="app-icon-list__icon app-icon-list__icon--user">Name: </span> <strong>@Model.FirstName @Model.LastName</strong>
            </li>
            @foreach (var email in Model.EmailAddresses)
            {
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon app-icon-list__icon--email">Email address: </span> <a href="mailto:@email" class="govuk-link">@email</a>
                </li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.BusinessWebsite))
            {
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon app-icon-list__icon--website">Website: </span> <a target="_blank" href="@Model.BusinessWebsite" class="govuk-link" rel="noreferrer noopener">@Model.BusinessWebsite (opens in new tab)</a>
                </li>
            }
        </ul>
        @if (!string.IsNullOrWhiteSpace(Model.BusinessWebsite))
        {
            <div class="govuk-inset-text govuk-!-margin-bottom-0">
                The Apprenticeship Service is not responsible for the content of external sites.
            </div>
        }
    </div>

    @if (Model.AllowApproval)
    {
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountName)
            @Html.HiddenFor(m => m.DisplayApplicationApprovalOptions)
            <div class="govuk-form-group" das-highlight-error-for="SelectedAction" error-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        What would you like to do with this application?
                    </legend>
                    <span das-validation-for="SelectedAction" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SelectedAction" name="SelectedAction" asp-for="SelectedAction" type="radio" value="@approve" das-highlight-error-for="SelectedAction" error-class="govuk-textarea--error" data-aria-controls="approval-content" />
                            <label class="govuk-label govuk-radios__label" for="SelectedAction">
                                Approve the application
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="approval-content">
                            <p><strong>Disclaimer:</strong></p> <p>The information provided by @Model.EmployerAccountName in their application for this pledge has not been checked and verified by the apprenticeship service.</p> <p>Please carry out your own due diligence when deciding whether to offer a transfer of your levy funds.</p> <p> Before this is confirmed, you will need to choose how to approve the apprenticeship details on the next page.</p>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SelectedAction-2" name="SelectedAction" asp-for="SelectedAction" type="radio" value="@reject" das-highlight-error-for="SelectedAction" error-class="govuk-textarea--error" />
                            <label class="govuk-label govuk-radios__label" for="SelectedAction-2">
                                Reject the application
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
            </div>
        </form>
    }
</main>