@using SFA.DAS.LevyTransferMatching.Web.Extensions
@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationViewModel
@{
    ViewBag.GaData.Vpv = "/accounts/pledges/applications/application";

    var approve = SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationPostRequest.ApprovalAction.Approve;
    var reject = SFA.DAS.LevyTransferMatching.Web.Models.Pledges.ApplicationPostRequest.ApprovalAction.Reject;
}

<a href="@Url.Action("Applications", "Pledges", new { encodedAccountId = ViewContext.RouteData.Values["encodedAccountId"], EncodedPledgeId = ViewContext.RouteData.Values["EncodedPledgeId"]})" class="govuk-back-link">Back to my transfer applications</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <h1 class="govuk-heading-xl">
        @Model.EmployerAccountName
    </h1>
    <div class="das-highlight">
        <h2 class="govuk-heading-m">Details about the application</h2>
        <p><strong class="govuk-tag govuk-tag--@Model.PercentageMatchCssClass">@Model.MatchPercentage% Match</strong></p>
        <dl class="govuk-list app-dl-icon-list govuk-!-margin-bottom-4">
            <dt class="app-dl-icon-list__title">
                @{ if (Model.IsLocationMatch) {
                        <span class="app-dl-icon-list__icon app-dl-icon-list__icon--tick">
                            Match on:
                        </span>
                    }
                }
                Location
            </dt>
            <dd class="app-dl-icon-list__definition">@Model.Locations</dd>
            <dt class="app-dl-icon-list__title">
                @{ if (Model.IsSectorMatch)
                    {
                        <span class="app-dl-icon-list__icon app-dl-icon-list__icon--tick">
                            Match on:
                        </span>
                    }
                }
                Sector
            </dt>
            <dd class="app-dl-icon-list__definition">@Model.DisplaySectors</dd>
            <dt class="app-dl-icon-list__title">
                @{ if (Model.IsJobRoleMatch)
                    {
                        <span class="app-dl-icon-list__icon app-dl-icon-list__icon--tick">
                            Match on:
                        </span>
                    }
                }
                Type of job role
            </dt>
            <dd class="app-dl-icon-list__definition">@Model.JobRole</dd>
            <dt class="app-dl-icon-list__title">
                @{ if (Model.IsLevelMatch)
                    {
                        <span class="app-dl-icon-list__icon app-dl-icon-list__icon--tick">
                            Match on:
                        </span>
                    }
                }
                Level
            </dt>
            <dd class="app-dl-icon-list__definition">@Model.Level</dd>
        </dl>
        <dl class="govuk-body app-dl-inline">
            <dt class="app-dl-inline__title">Apprentices</dt>
            <dd class="app-dl-inline__definition--strong">@Model.NumberOfApprentices</dd>
            <dt class="app-dl-inline__title">Estimated duration</dt>
            <dd class="app-dl-inline__definition--strong">@Model.EstimatedDurationMonths months</dd>
            <dt class="app-dl-inline__title">Start by</dt>
            <dd class="app-dl-inline__definition--strong">@Model.StartBy.ToString("MMMMM yyyy")</dd>
            <dt class="app-dl-inline__title">Do they have a training provider</dt>
            <dd class="app-dl-inline__definition--strong">@Model.HasTrainingProvider.ToYesNo()</dd>
            <dt class="app-dl-inline__title">Date applied</dt>
            <dd class="app-dl-inline__definition--strong">@Model.CreatedOn.ToLongDateDisplayString()</dd>
        </dl>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.AboutOpportunity))
    {
        <div class="das-highlight">
            <h2 class="govuk-heading-m">About their apprenticeship opportunity</h2>
            <p>@Model.AboutOpportunity</p>
        </div>
    }

    <div class="das-highlight">
        <h2 class="govuk-heading-m">Estimated costs of training</h2>
        <dl class="app-dl-inline govuk-body govuk-!-margin-bottom-4">
            <dt class="app-dl-inline__title">Maximum cost of training over @Model.EstimatedDurationMonths months =</dt>
            <dd class="app-dl-inline__definition"><strong>@Model.Affordability.EstimatedCostOverDuration</strong></dd>
            @foreach (var payment in @Model.Affordability.YearlyPayments)
            {
                <dt class="app-dl-inline__title">Estimated cost for @payment.Year</dt>
                <dd class="app-dl-inline__definition"><strong>@payment.Amount</strong></dd>
            }
            <dt class="app-dl-inline__title">
                Estimated costs include 20% completion costs which are paid on completion of the apprenticeship.
            </dt>
        </dl>
        <p>Pledge funds remaining if application is approved: <strong>@Model.Affordability.RemainingFundsIfApproved</strong></p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">What is estimated cost?</h3>
        <p>The total estimated cost of training is based on the funding band maximum,including completion costs,and is spread across the typical duration of the apprenticeship.</p>
    </div>

    <div class="das-highlight">
        <h2 class="govuk-heading-m">Contact details</h2>
        <p>You can contact @Model.EmployerAccountName if you would like to ask them for more information.</p>
        <ul class="govuk-list app-icon-list">
            <li class="app-icon-list__list-item">
                <span class="app-icon-list__icon app-icon-list__icon--user">Name: </span> <strong>@Model.FirstName @Model.LastName</strong>
            </li>
            @foreach (var email in Model.EmailAddresses)
            {
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon app-icon-list__icon--email">Email address: </span> <a href="mailto:@email" class="govuk-link">@email</a>
                </li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.BusinessWebsite))
            {
                <li class="app-icon-list__list-item">
                    <span class="app-icon-list__icon app-icon-list__icon--website">Website: </span> <a target="_blank" href="@Model.BusinessWebsite" class="govuk-link" rel="noreferrer noopener">@Model.BusinessWebsite (opens in new tab)</a>
                </li>
            }
        </ul>
        @if (!string.IsNullOrWhiteSpace(Model.BusinessWebsite))
        {
            <div class="govuk-inset-text govuk-!-margin-bottom-0">
                The Apprenticeship Service is not responsible for the content of external sites.
            </div>
        }
    </div>

    @if (Model.AllowApproval || Model.AllowRejection)
    {
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountName)
            @Html.HiddenFor(m => m.DisplayApplicationApprovalOptions)
            <div class="govuk-form-group" das-highlight-error-for="SelectedAction" error-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        What would you like to do with this application?
                    </legend>
                    <span das-validation-for="SelectedAction" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        @if (Model.AllowApproval)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="SelectedAction" name="SelectedAction" asp-for="SelectedAction" type="radio" value="@approve" das-highlight-error-for="SelectedAction" error-class="govuk-textarea--error" data-aria-controls="approval-content"/>
                                <label class="govuk-label govuk-radios__label" for="SelectedAction">
                                    Approve the application
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="approval-content">
                                <p><strong>Disclaimer:</strong></p>
                                <p>The information provided by @Model.EmployerAccountName in their application for this pledge has not been checked and verified by the apprenticeship service.</p>
                                <p>You may wish to undertake your own in-house governance process before committing to fund a transfer. The receiving employer will provide you with their contact details as part of their application in order to do this.</p>
                                <p>Before this is confirmed, you will need to choose how to approve the apprentice details on the next page.</p>
                            </div>
                        }
                        @if (Model.AllowRejection)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@Model.RejectOptionElementId" name="SelectedAction" asp-for="SelectedAction" type="radio" value="@reject" das-highlight-error-for="SelectedAction" error-class="govuk-textarea--error"/>
                                <label class="govuk-label govuk-radios__label" for="@Model.RejectOptionElementId">
                                    Reject the application
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
            </div>
        </form>
    }
</main>