@using SFA.DAS.LevyTransferMatching.Web.Models.Pledges
@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.CreateViewModel

@{
    ViewData["Title"] = "Pledges";
}

<a href="@Url.Action("index", "pledges", new { Model.EncodedAccountId })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Find a business to transfer your levy to</span>
            <h1 class="govuk-heading-xl">Create a transfers pledge</h1>
            <p>Create a transfers funding pledge that will be shown online so that businesses can apply to you for funding.</p>
            <p>The amount you choose and the criteria you set will be displayed publicly.</p>
            <p>You can choose whether or not to show your organisation's name publicly.</p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    We will add a reference number to each pledge you create to help keep track of applications.
                </strong>
            </div>
            <ol class="das-task-list">
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">1. </span> Pledge amount and option to hide organisation name
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Not started</strong>
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Amount", new AmountRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey})">
                                    Amount you want to pledge
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                @if (Model.Amount.HasValue)
                                {
                                    @:&pound;@($"{Model.Amount.Value:n0}")
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Amount", new AmountRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey})">
                                    Show or hide your organisation's name
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                @Model.IsNamePublicDisplayValue
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="govuk-grid-row app-task-list__group-header">
                        <div class="govuk-grid-column-three-quarters">
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">2. </span> Criteria
                                <span class="govuk-hint app-task-list__group-header-hint">The following criteria are all optional. They will remain set to 'all' unless you choose to change them. </span>
                            </h2>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <strong class="govuk-tag govuk-tag--grey app-task-list__group-header-tag">Optional</strong>
                        </div>
                    </div>
                    <ul class="das-task-list__items">
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="#">
                                    Location
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">
                                All of England
                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Sector", new SectorRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey})">
                                    Sector
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">

                                @if (Model.AreAllSectorsSelected)
                                {
                                    <text>All sectors and industries</text>
                                }
                                else
                                {
                                    <unordered-list asp-for="Sectors" source="@Model.SectorOptions" class="govuk-list das-!-text-align-right"></unordered-list>
                                }

                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("JobRole", new JobRoleRequest{EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey})">
                                    Type of job role
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">

                                @if (Model.AreAllJobRolesSelected)
                                {
                                    <text>All apprenticeship job roles</text>
                                }
                                else
                                {
                                    <unordered-list asp-for="JobRoles" source="@Model.JobRoleOptions" class="govuk-list das-!-text-align-right"></unordered-list>
                                }

                            </span>
                        </li>
                        <li class="das-task-list__item">
                            <span class="das-task-list__task-name">
                                <a class="govuk-link" href="@Url.Action("Level", new LevelRequest { EncodedAccountId = Model.EncodedAccountId, CacheKey = Model.CacheKey })">
                                    Level
                                </a>
                            </span>
                            <span class="das-task-list__task-tag">

                                @if (Model.AreAllLevelsSelected)
                                {
                                    <text>All qualification levels</text>
                                }
                                else
                                {
                                    <unordered-list asp-for="Levels" source="@Model.LevelOptions" class="govuk-list das-!-text-align-right"></unordered-list>
                                }

                            </span>
                        </li>
                    </ul>
                </li>
            </ol>
        <div class="govuk-grid-column-full">
            @if (Model.AmountSectionComplete)
            {
                <form method="post">
                    <div class="govuk-grid-row">
                        <h2 class="govuk-heading-m">Submit your transfers pledge</h2>
                        <p>I confirm that I want to make the above pledge so I can fund another business's apprenticeship training and assessment with my levy funds.</p>
                        <button class="govuk-button pledge-level-continue" data-module="govuk-button" id="pledge-create-submit">Submit my pledge</button>
                    </div>
                </form>
            }
            <div class="govuk-grid-row">
                <a class="govuk-link" href="@Url.Action("index", "pledges", new { Model.EncodedAccountId })">Cancel pledge</a>
            </div>
        </div>

        </div>
    </div>
</main>