@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.LocationSelectViewModel
@{
    ViewData["Title"] = "Select Location";
}

<a href="@Url.Action("Location", "Pledges", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">There are multiple locations based on your selected locations</h1>
            <form method="post" id="select-location-form">

                @for (int i = 0; i < Model.SelectValidLocationGroups.Length; i++)
                {
                    <input type="hidden" asp-for="SelectValidLocationGroups[i].Index" />

                    <div class="govuk-form-group" error-class="govuk-form-group--error" das-highlight-error-for="SelectValidLocationGroups[i]">
                        <fieldset class="govuk-fieldset" id="@($"SelectValidLocationGroups_{i}_")">
                            <legend class="govuk-fieldset__legend">Please select the correct location</legend>
                            <span class="govuk-error-message">@Html.ValidationMessageFor(x => Model.SelectValidLocationGroups[i])</span>
                            <div class="govuk-radios">

                                @for (int j = 0; j < Model.SelectValidLocationGroups[i].ValidLocationItems.Length; j++) 
                                {
                                    <div class="govuk-radios__item">
                                        <input
                                            class="govuk-radios__input"
                                            id="@($"SelectValidLocationGroups_{i}__ValidLocationItems_{j}_")"
                                            asp-for="SelectValidLocationGroups[i].SelectedValue" 
                                            type="radio"
                                            value="@Model.SelectValidLocationGroups[i].ValidLocationItems[j].Value"
                                            das-highlight-error-for="SelectValidLocationGroups[i].ValidLocationItems[j]"
                                            error-class="govuk-textarea--error"
                                            checked="@Model.SelectValidLocationGroups[i].ValidLocationItems[j].Selected">
                                        <label class="govuk-label govuk-radios__label" asp-for="SelectValidLocationGroups[i].ValidLocationItems[j]">@Model.SelectValidLocationGroups[i].ValidLocationItems[j].Value</label>
                                    </div>
                                }

                            </div>
                        </fieldset>
                    </div>
                }

                <div class="govuk-button-group">
                    <button id="submit-selected-locations" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a href="@Url.Action("Location", "Pledges", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>
                </div>
            </form>
        </div>
    </div>
</main>
