@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.LocationSelectViewModel
@{
    ViewData["Title"] = "Select Location";
}

<a href="@Url.Action("Location", "Pledges", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">There are multiple locations based on your selected locations</h1>
            <form method="post" id="select-location-form">

                @foreach (var validLocationGroup in Model.AvailableValidLocations)
                {
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" id="location-group-@validLocationGroup.Key">
                            <legend class="govuk-fieldset__legend">Please select the correct location</legend>
                            <div class="govuk-radios">

                                @{ var i = 0; } 
                                @foreach (var validLocation in validLocationGroup.Value)
                                {
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="@($"valid-location-{validLocationGroup.Key}-{i}")" name="@($"SelectedValidLocations[{validLocationGroup.Key}]")" asp-for="SelectedValidLocations[validLocationGroup.Key]" type="radio" value="@validLocation">
                                        <label class="govuk-label govuk-radios__label" for="@($"valid-location-{validLocationGroup.Key}-{i++}")">@validLocation</label>
                                    </div>
                                }

                            </div>
                        </fieldset>
                    </div>
                }

            <div class="govuk-button-group">
                <button id="submit-selected-locations" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a href="@Url.Action("Location", "Pledges", new { Model.EncodedAccountId, Model.CacheKey })" class="govuk-link govuk-link-secondary govuk-link--no-visited-state govuk-back-link">Back</a>
            </div>
            </form>
        </div>
    </div>
</main>
