@using SFA.DAS.LevyTransferMatching.Domain.Extensions
@model SFA.DAS.LevyTransferMatching.Web.Models.Pledges.PledgesViewModel

@{
    ViewData["Title"] = "My transfer pledges";
    ViewBag.GaData.Vpv = "/accounts/pledges";
    ViewBag.ZenDeskLabel = "LTM-S-pledges";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link"
                href="@Url.AccountsLink($"accounts/{Model.EncodedAccountId}/teams")">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link"
                href="@Url.FinanceLink($"accounts/{Model.EncodedAccountId}/transfers")">Your transfers</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">My transfer pledges</li>
    </ol>
</div>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">

        <partial name="_FlashMessagePartial" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    My transfer pledges
                </h1>
            </div>
            <div class="govuk-grid-column-full">
                <p>You have <strong>@Model.Paging.TotalPledges.ToString("N0")</strong> transfers pledges.</p>
                <div class="govuk-inset-text">
                    <p>
                        You may have applications waiting to be approved or rejected. Applicants need a response from
                        you in order to manage their apprenticeships.
                    </p>
                    <p>
                        Select the transfer pledge you want to view details for.
                    </p>
                </div>
                @if (Model.RenderCreatePledgeButton)
                {
                    @if (!Model.HasMinimumTransferFunds)
                    {
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                You need a minimum of £2000 left on your estimated remaining transfer balance to make another
                                pledge.
                            </strong>
                        </div>
                    }
                    <div class="govuk-button-group">
                        <form
                            action="@Url.Action("Inform", "CreatePledge", new { encodedAccountId = Model.EncodedAccountId })"
                            method="get">
                            <button class="govuk-button" type="submit" data-module="govuk-button"
                            @(!Model.HasMinimumTransferFunds ? "disabled" : "")>
                                Create new transfer pledge
                            </button>
                        </form>
                    </div>
                }
                <table class="govuk-table govuk-!-margin-bottom-9 das-table--responsive"
                    aria-label="Transfer pledges table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header app-custom-class">Transfer pledge</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Remaining funds
                            </th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Applications</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var pledge in Model.Pledges)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Transfer pledge">
                                    <a href="pledges/@pledge.ReferenceNumber/applications"
                                        class=govuk-link--no-visited-state>@pledge.ReferenceNumber</a>
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Total">
                                    £@pledge.Amount.ToString("N0")</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Remaining funds">
                                    £@pledge.RemainingAmount.ToString("N0")</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Applications">
                                    @pledge.ApplicationCount</td>
                                <td class="govuk-table__cell" data-label="Status"><strong
                                        class="@pledge.Status.GetCssClass()">@pledge.Status.GetLabel()</strong></td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.Paging.ShowPageLinks)
                {
                    <nav role="navigation" aria-label="Pagination">
                        <div class="das-pagination__summary">Showing @Model.Paging.PageStartRow to @Model.Paging.PageEndRow
                            of @Model.Paging.TotalPledges transfer records</div>
                        <ul class="das-pagination">
                            @foreach (var pageLink in Model.Paging.PageLinks)
                            {
                                <li class="das-pagination__item">
                                    <a class="das-pagination__link @(pageLink.IsCurrent.HasValue && pageLink.IsCurrent.Value ? "current" : "")"
                                        asp-route="pledges" asp-all-route-data="@pageLink.RouteData"
                                        aria-current="@pageLink.IsCurrent" aria-label="@pageLink.AriaLabel">
                                        @pageLink.Label
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</main>